# dotenv/Varlock environment value files
.env*
!.env.schema
!.env.template
!.env.jb

# Fresh build directory
_fresh/
# npm dependencies
node_modules/

# runtime data
.runtime/data/*
!.runtime/data/.gitkeep

!.cursor
.vite
