@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  input {
    @apply border border-gray-300 rounded-md py-1 px-2;
  }

 .button {
    @apply hover:shadow-md rounded-md py-2 px-4 text-white bg-teal-500 shadow-teal-500;
  }
}