@import "tailwindcss";

/* 
  DOCS: https://iconify.design/docs/usage/css/tailwind/tailwind4/

  NOTE: @iconify/tailwind4 needs either package to be installed: 
  - @iconify/json - the full iconify collection as json data - might be bad for use with deno deploy, 
                    since deno has no notion of dev dependencies in deno.jsonc
  - @iconify-json/{iconPack} - the iconify collection for a specific icon pack, like mdi, ph, etc.
  - @iconify-json/mynaui - the iconify collection for a specific icon pack, like mdi, ph, etc.

  USAGE: 
  <span class="icon-[mdi-light--home]"></span>
 */
@plugin "@iconify/tailwind4";

@theme {
  --color-primary: var(--color-teal-700);
  --color-primary-light: var(--color-teal-50)
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  input {
    @apply border border-gray-300 rounded-md py-1 px-2 outline-teal-700;
  }

 button.primary-btn {
    @apply hover:shadow-md rounded-md py-2 px-4 text-white bg-teal-600 shadow-teal-500/40;
  }

  button.primary-btn:disabled {
    @apply bg-gray-400 cursor-not-allowed hover:shadow-none;
  }
}


/* TODO: improve view transitions with https://nerdy.dev/6-css-snippets-every-front-end-developer-should-know-in-2025#incrementally-adopt */
@view-transition {
  navigation: auto;
}

:root {
  /* allow browsers to animate from 0 to keywords, like min-content, max-content and auto  */
  /* CAUTION: Only supported by Chrome and derivate Browsers right now! */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/interpolate-size */
  interpolate-size: allow-keywords;
}



