CORE_DATABASE_URL: libsql://...
TURSO_AUTH_TOKEN: ""
CORE_ROOT_USER_EMAIL: jb@example.com
CORE_ROOT_USER_LABEL: JB
CORE_ROOT_USER_PASSWORD: ""
LOCAL_DRIZZLE_STUDIO_DB_URL: libsql://...
LOCAL_DRIZZLE_STUDIO_DB_AUTH: ""
